.insta-feed {
    margin-top: 3rem;
          margin-bottom: 3rem;
          display: grid;
          grid-template-columns:300px 300px 300px 300px 300px;
          grid-gap: 10px;
}
@media (max-width: 1400px) {
    .insta-feed {
        grid-template-columns:300px 300px 300px 300px;
    }
  }
@media (max-width: 1100px) {
    .insta-feed {
        grid-template-columns:300px 300px 300px;
    }
  }
@media (max-width: 800px) {
    .insta-feed {
        grid-template-columns:300px 300px;
    }
  }

@media (max-width: 500px) {
    .insta-feed {
        grid-template-columns:300px;
    }
  }